h1 {
    border: 0px solid black;
    text-align: center ;
    color: blue;
    font-size: 30px;
}


#register:hover {color: rgb(0, 128, 32);

}


p {text-align: center ;}


table {padding-top: 50px;}

th {text-align: center;
    padding-top: 5px;
    padding-left: 600px;
    padding-bottom: 15px;
    font-size: 20px;}

    td {text-align: center;
        padding-top: 5px;
        padding-left: 600px;
        padding-bottom: 50px;
        }
    

td {font-size: 20px}

body{
    background-color: black;
    height: 100rem;
    position: absolute;
}